


<div class="card">
    <div class="card-header text-center bg-success">
        <h3 class="card-title text-white">Crear Estudiante</h3>
    </div>

    <div class="card-body">
        <form (ngSubmit)="onSubmit(ngForms)" #ngForms="ngForm">
            <div class="form-group row">
                <label class="col-md-2" for="primer_nombre">Primer Nombre: </label>
                <div class="col-md-10">
                    <input type="text"
                    name="primer_nombre"
                    class="form-control"
                    required
                    maxlength="30"
                    pattern="^[A-Z]+$" 
                    [(ngModel)]="estudiante.primer_nombre"
                    #primer_nombre="ngModel"
                    >

                </div>

                @if(primer_nombre.invalid && (primer_nombre.dirty || primer_nombre.touched)){
                    @if(primer_nombre.errors!['required']){
                        <li class="alert alert-danger my-2">
                            El Primer Nombre es requerido
                        </li>
                    }
                    
                        
                    @if(primer_nombre.errors!['maxlength']){
                        <li class="alert alert-danger my-2">
                            El Primer Nombre debe tener máximo 30 caracteres
                        </li>
                    }
                    
                    @if(primer_nombre.errors!['pattern']){
                        <li class="alert alert-danger my-2">
                            El Primer Nombre solo permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ.
                        </li>
                    }
                }
                
                @if(errores.primer_nombre){
                    <li class="alert alert-danger my-2">{{errores.primer_nombre}}</li>
                }



            </div>

            
            <div class="form-group row my-3">
                <label class="col-md-2" for="primer_apellido">Primer Apellido: </label>
                <div class="col-md-10">
                    <input type="text"
                    name="primer_apellido"
                    class="form-control"
                    required
                    
                    maxlength="30"
                    pattern="^[A-Z]+$" 
                    [(ngModel)]="estudiante.primer_apellido"
                    #primer_apellido="ngModel"
                    >

                </div>

                @if(primer_apellido.invalid && (primer_apellido.dirty || primer_apellido.touched)){
                    @if(primer_apellido.errors!['required']){
                        <li class="alert alert-danger my-2">
                            El Primer Apellido es requerido
                        </li>
                    }
                    
                    @if(primer_apellido.errors!['maxlength']){
                        <li class="alert alert-danger my-2">
                            El Primer Apellido debe tener máximo 30 caracteres
                        </li>
                    }
                    
                    @if(primer_apellido.errors!['pattern']){
                        <li class="alert alert-danger my-2">
                            El Primer Apellido solo permite caracteres de la A a la Z, mayúscula, sin acentos ni Ñ.
                        </li>
                    }

                }

                
                @if(errores.primer_apellido){
                    <li class="alert alert-danger my-2">{{errores.primer_apellido}}</li>
                }

            </div>


            
            <div class="form-group row my-3">
                <label class="col-md-2" for="nombre">País: </label>
                <div class="col-md-10">
                        
                    <select name="id_pais" [(ngModel)]="estudiante.id_pais" class="form-select" required #pais="ngModel">
                        <option *ngFor="let pais of paises" [value]="pais.id">{{pais.nombre}}</option>
                    </select>
                </div>
                
                @if(pais.invalid && (pais.dirty || pais.touched)){
                    @if(pais.errors!['required']){
                        <li class="alert alert-danger my-2">
                            El Pais es requerido
                        </li>
                    }
                }

                
                @if(errores.id_pais){
                    <li class="alert alert-danger my-2">{{errores.id_pais}}</li>
                }

            </div>


            <div class="text-center">
                <button type="submit" class="btn btn-success text-white" [disabled]="ngForms.invalid">Crear</button>
            </div>



        </form>

    </div>

</div>
