
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand mx-3 my-1">Sistema Académico</a>
    <button class="navbar-toggler" type="button" type="button" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
          
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/estudiantes']" routerLinkActive="active">Estudiantes</a>
        </li>
        
          
        <li class="nav-item active">
          <a class="nav-link" [routerLink]="['/materias']" routerLinkActive="active">Materias</a>
        </li>
        

        
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/estudiantes-por-materia']" routerLinkActive="active">Estudiantes por Materia</a>
          </li>

          
        <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/materias-por-estudiante']" routerLinkActive="active">Materias por Estudiante</a>
          </li>
          
          

      </ul>
        <!--
      <div class="navbar-collapse justify-content-end">
        <button class="btn btn-success my-2" [routerLink]="['/login']">Login</button>
        <button class="btn btn-warning my-2 mx-3" [routerLink]="['/registrar']">Registrar</button>
      </div>-->
      

    </div>
  </div>
  </nav>


